/* Reset & dasar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #e8ecf3);
  color: #333;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 25px;
}

header h1 {
  font-size: 26px;
  color: #2d3436;
  background: #dfe6e9;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* Form Input */
.task-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input,
.task-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.task-f;
